h1 {
  font-weight: 400;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#form-cont {
  margin: 10%;
  padding: 5%;
  width: 40%;
  text-align: center;
  background-color: rgb(139, 160, 235);
  border-radius: 25px
}

#url-form {
  margin-top: 5%;
}